Dependencies/Cordova/Cordova-Debug.zip
Dependencies/MKNetworkKit-iOS-Debug.zip
Dependencies/SalesforceHybridSDK-Debug.zip
Dependencies/SalesforceNativeSDK-Debug.zip
Dependencies/SalesforceNetworkSDK-Debug.zip
Dependencies/SalesforceOAuth-Debug.zip
Dependencies/SalesforceSDKCore-Debug.zip
Dependencies/SalesforceSecurity-Debug.zip

HybridShared/samples/accounteditor/
HybridShared/samples/contactexplorer/
HybridShared/samples/fileexplorer/
HybridShared/samples/readme.md
HybridShared/samples/smartstoreexplorer/
HybridShared/samples/userandgroupsearch/
HybridShared/samples/usersearch/
HybridShared/samples/vfconnector/

Templates/NativeAppTemplate/__NativeTemplateAppName__/__NativeTemplateAppName__.xcodeproj/project.xcworkspace
Templates/NativeAppTemplate/__NativeTemplateAppName__/__NativeTemplateAppName__.xcodeproj/xcuserdata
Templates/NativeAppTemplate/__NativeTemplateAppName__/__NativeTemplateAppName__.xcodeproj/xcshareddata

Templates/HybridAppTemplate/__HybridTemplateAppName__/__HybridTemplateAppName__.xcodeproj/project.xcworkspace
Templates/HybridAppTemplate/__HybridTemplateAppName__/__HybridTemplateAppName__.xcodeproj/xcuserdata
Templates/HybridAppTemplate/__HybridTemplateAppName__/__HybridTemplateAppName__.xcodeproj/xcshareddata
