Dependencies/Cordova/Cordova-Debug.zip
Dependencies/SalesforceHybridSDK-Debug.zip
Dependencies/SalesforceNativeSDK-Debug.zip
Dependencies/SalesforceOAuth-Debug.zip
Dependencies/SalesforceSDKCore-Debug.zip
