Dependencies/Cordova/Cordova-Debug.zip
Dependencies/MKNetworkKit-iOS-Debug.zip
Dependencies/SalesforceHybridSDK-Debug.zip
Dependencies/SalesforceNativeSDK-Debug.zip
Dependencies/SalesforceNetworkSDK-Debug.zip
Dependencies/SalesforceOAuth-Debug.zip
Dependencies/SalesforceSDKCore-Debug.zip
Dependencies/SalesforceSecurity-Debug.zip

Templates/NativeAppTemplate/__NativeTemplateAppName__/__NativeTemplateAppName__.xcodeproj/project.xcworkspace
Templates/NativeAppTemplate/__NativeTemplateAppName__/__NativeTemplateAppName__.xcodeproj/xcuserdata
Templates/NativeAppTemplate/__NativeTemplateAppName__/__NativeTemplateAppName__.xcodeproj/xcshareddata

Templates/HybridAppTemplate/__HybridTemplateAppName__/__HybridTemplateAppName__.xcodeproj/project.xcworkspace
Templates/HybridAppTemplate/__HybridTemplateAppName__/__HybridTemplateAppName__.xcodeproj/xcuserdata
Templates/HybridAppTemplate/__HybridTemplateAppName__/__HybridTemplateAppName__.xcodeproj/xcshareddata

Samples/native/FileExplorer/FileExplorer.xcodeproj/project.xcworkspace
Samples/native/FileExplorer/FileExplorer.xcodeproj/xcuserdata
Samples/native/FileExplorer/FileExplorer.xcodeproj/xcshareddata

Samples/native/NativeSqlAggregator/NativeSqlAggregator.xcodeproj/project.xcworkspace
Samples/native/NativeSqlAggregator/NativeSqlAggregator.xcodeproj/xcuserdata
Samples/native/NativeSqlAggregator/NativeSqlAggregator.xcodeproj/xcshareddata

Samples/native/RestAPIExplorer/RestAPIExplorer.xcodeproj/project.xcworkspace
Samples/native/RestAPIExplorer/RestAPIExplorer.xcodeproj/xcuserdata
Samples/native/RestAPIExplorer/RestAPIExplorer.xcodeproj/xcshareddata

Samples/hybrid/AccountEditor/AccountEditor.xcodeproj/project.xcworkspace
Samples/hybrid/AccountEditor/AccountEditor.xcodeproj/xcuserdata
Samples/hybrid/AccountEditor/AccountEditor.xcodeproj/xcshareddata

Samples/hybrid/ContactExplorer/ContactExplorer.xcodeproj/project.xcworkspace
Samples/hybrid/ContactExplorer/ContactExplorer.xcodeproj/xcuserdata
Samples/hybrid/ContactExplorer/ContactExplorer.xcodeproj/xcshareddata

Samples/hybrid/HybridFileExplorer/HybridFileExplorer.xcodeproj/project.xcworkspace
Samples/hybrid/HybridFileExplorer/HybridFileExplorer.xcodeproj/xcuserdata
Samples/hybrid/HybridFileExplorer/HybridFileExplorer.xcodeproj/xcshareddata

Samples/hybrid/SmartStoreExplorer/SmartStoreExplorer.xcodeproj/project.xcworkspace
Samples/hybrid/SmartStoreExplorer/SmartStoreExplorer.xcodeproj/xcuserdata
Samples/hybrid/SmartStoreExplorer/SmartStoreExplorer.xcodeproj/xcshareddata

Samples/hybrid/VFConnector/VFConnector.xcodeproj/project.xcworkspace
Samples/hybrid/VFConnector/VFConnector.xcodeproj/xcuserdata
Samples/hybrid/VFConnector/VFConnector.xcodeproj/xcshareddata

